
body{
  margin: 0 auto;
  text-align: center;
  width: 100%;
  background-image: url("/img/DKroll_ladies.jpg");
  background-size: cover;
  font-family: 'Roboto', sans-serif;

}

#container{
 background:rgba(211,211,211,0.6);
 border-radius: 2px;
 min-height: 600px;
 min-width: 650px;
 width: 80%;
 margin: 0 auto;
}

h1{
  font-family: 'Pacifico', cursive;
  font-size: 4em;
  text-decoration: underline;
  color: #30DF97;
}

p{
  font-size: .8em;
}

#toDo{
  width: 600px;
  text-align: left;
  margin: 0 auto;
  padding: 20px;
  font-size: 1.5em;
}

ul{
  list-style: none;
}

li{
  border: 1px solid grey;
  padding: 8px;
  background:rgba(211,211,211,0.7);
}

button{
  font-size: 10px;
  border-radius: 2px;
  border:none;
  width: 20px;
  background: white;
}

.complete{
  color: green;
}
.delete{
  color: red;
}
form{
  text-align: center;
}

input[type=text]{
  height: 30px;
  width:350px;
  font-size: 20px;
  border-radius: 2px;
  border: none;
  padding: 4px;
  margin-right: 10px;
}

input[type=submit], input[type=reset]{
  padding:5px 20px;
  background:white;
  border:0 none;
  cursor:pointer;
  border-radius: 5px;
  }

.afterCompleted{
  color:grey;
  text-decoration: line-through;
}
